.top-bar {
    padding: 30px 0;
    background: transparent;
}
.nav-logo-bg {
    background: #fff;
    padding: 17px 19px;
}
.nav-logo-bg img {
    width: 202px;
}
.top-bar ul.menu li {
    font-weight: bold;
    font-size: 20px;
}
.top-bar ul.menu li a {
    color: #fff;
}
.top-bar ul {
    background: transparent;
}
section#main {
    background: #e62b1a;
    min-height: 1056px;
    position: relative;
}
.hero-wrap {
    margin-top: 50px;
    position: relative;
}
img.x-hero {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    position: static;
    z-index: 1;
}
img.living-out-loud {
    display: block;
    position: absolute;
    margin-top: 81px;
    width: 394px;
    z-index: 2;
}
@media print, screen and (min-width: 40em) {
    .top-bar-right {
        margin-top: 1.5em;
    }
}
.tedxwhite {
    margin-top: 96px;
}
.tedxwhite img{
    min-height: 170px;
    display: inline;
    position: absolute;
}
.tedxwhite p{
    margin-left: 30px;
}
img#bars {
    max-width: 370px;
    display: block;
    position: absolute;
    z-index: 2;
}