a.site_title {
    padding: 0;
}

.logo-bg {
    background-color: white;
}

.logo-bg img {
    width: 130px;
    position: relative;
    top: -3px;
}

.logo-bg-sq {
    display: none;
}

.logo-bg-sq img {
    width: 40px;
}

.setStateButton {
    font-size: 1em;
    padding: 0 8px;
    margin: 0;
    height: 35px;
    width: 100%;
}

tr td {
    padding-top: 12px !important;
}

tr td:nth-child(3) {
    padding: 5px 10px !important;
}
