a.site_title {
    padding: 0;
}

.logo-bg {
    background-color: white;
}

.logo-bg img {
    width: 130px;
    position: relative;
    top: -3px;
}

.logo-bg-sq {
    display: none;
}

.logo-bg-sq img {
    width: 40px;
}

.setStateButton {
    font-size: 1em;
    padding: 0 20px;
    margin: 0;
    height: 35px;
}

.modalButton {
    font-size: 1em;
    padding: 0 20px;
    margin: 0;
    height: 35px;
}

tr td {
    padding-top: 11px !important;
    padding-right: 15px !important;
    padding-bottom: 10px !important;
    padding-left: 15px !important;
}

tr td:nth-child(1) {
    padding-left: 37px !important;
    text-transform: capitalize;
}

tr td:nth-child(n+2):nth-child(-n+6) {
    text-align: center;
}

tr td:nth-child(n+2):nth-child(-n+3) {
    padding: 5px 3px !important;
}

tr th {
    text-align: center !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    top: 11px;
    left: 10px;
}

#answer {
    font-family: 'Kanit', sans-serif;
    height: 180px;
    overflow-y: auto;
}

div.modal-content {
    font-size: 1.3em;
    padding: 30px 40px 30px 40px;
    overflow: hidden;
    min-height: 160px;
    color: black;
}

div.modal-content.fullscreen {
    height: 95vw;
    width: 95vw;
}

.column {
    padding-top: 0;
}

#profile {
    padding-right: 30px;
    border-right: 1px solid #D3D3D3;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    transition: 0.3s ease;
}

.overlay {
    position: absolute;
    height: 100%;
    top: 0;
    left: 10px;
    padding: 140px 20px;
    background-color: white;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 1.1em;
    text-align: center;
    z-index: 100;
}

.overlay:hover {
    opacity: 0;
    transition: 0.3s ease;
}

.overlay:hover + #profile{
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    transition: 0.3s ease;
}

#button-fullscreen {
    font-size: 0.8em;
    height: 35px;
    position: absolute;
    top: 15px;
    right: 35px;
    padding: 8px 20px;
}

#private-profile {
    text-transform: capitalize;
    border-bottom: 1px solid #D3D3D3;
    padding-bottom: 10px;
}

#contact-profile {
    padding-top: 10px;
}

#questionSection {
    padding: 0 0 0 30px;
}

p#profile-name, p#profile-mobile {
    padding-bottom: 5px;
}

div#question {
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 15px;
}

#datatable-responsive_info {
    position: relative;
    top: -20px !important;
}

.text-box.is-loading {
    display: none;
}

/*bulma*/
.modal.is-loading:after {
  -webkit-animation: spinAround 500ms infinite linear;
          animation: spinAround 500ms infinite linear;
  border: 2px solid #dbdbdb;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 3rem;
  position: relative;
  width: 3rem;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  position: absolute !important;
}

/*
@media screen and (max-width: 430px) {
    tr td {
        padding: 7px 0 8px 5px !important;
    }
    tr td:nth-child(1) {
        padding-left: 32px !important;
    }
    table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before,table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
        top: 6px;
        left: 7px;
    }
}*/
